<form asp-controller="Soundcharts" asp-action="Ping" method="post">
    <label for="uuid">Soundcharts Song UUID:</label>
    <input type="text" id="uuid" name="uuid" style="width: 400px;" value="7d534228-5165-11e9-9375-549f35161576" required />
    <button type="submit">Fetch Metadata</button>
</form>
