<form asp-controller="Soundcharts" asp-action="Ping" method="post">
    <label for="uuid">Soundcharts Song UUID:</label>
    <input type="text" id="uuid" name="uuid" style="width: 400px;" required />
    <button type="submit">Fetch Metadata</button>
</form>
